* 
{
            box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;       
        -ms-box-sizing: border-box;
}

html {
    background: #2D4653 url(dot.png);
    font-family: 'Liberation Sans', helvetica, arial, sans-serif;
    overflow-y: scroll;
}

body {
    color: #243842;
    margin: 0;
    padding: 0;
    font-size: .8em;
    line-height: 1.3;
}

hr {
    height: 0;
    border:0;
    border-top: 1px solid #2D4653;
}
a { color: #40AABF; }
a:hover { color: #8CCCD9; }
a:visited { color: #BF40BF; }
a:hover:visited { color: #D98CD9; }

/*
    LAYOUT
*/

.l-nav nav, #l-main, #l-footer, #logo {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.login .l-nav nav, .login #l-main, .login #l-footer, .login #logo {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#l-content {
    width: 100%;
}

#l-sidebar {
    display: none;
}

.user #l-sidebar {
    float:left;
}

.user #l-content {
    float:right;
}

/*
    NAVIGATION
*/

.l-nav 
{
    min-height: 40px;
    background: #000;
    background: rgba(0,0,0,.5);
    box-shadow: 0px 4px rgba(0,0,0,.2);
}

.l-nav.mobile 
{
    background: rgba(0,0,0,.3);
}

.l-nav.desktop {
    height: 40px;
    display: none;
}

.l-nav ul {
    float:left;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight:bold;
    list-style:none;
}

.l-nav.mobile ul {
    display: none;
    width: 100%;
}

.l-nav.mobile span 
{
    width: 100%;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: rgba(0,0,0, 0.2);
}

.l-nav li 
{
    float:left;
    line-height: 40px;
}

.l-nav.mobile li {
    width: 100%;    
}

.l-nav.mobile #search {
    width: 100%;
}

.l-nav a {
    display: block;
    padding: 0 12px;
    color: #fff;
    text-decoration:none;
}

.l-nav a:visited {
    color: #fff;
}

.l-nav.desktop a:hover, #l-nav.desktop a:focus {
    background: rgba(255,255,255, .3);
    outline: 0;
}

.l-nav.desktop a.active {    
    background: rgba(255,255,255, .4);
}

#search {
    border: 0;
    margin: 8px 12px 0;
    padding: 4px 10px;
    max-width: 90%;
}

#search:focus {
    outline-color: #8CCCD9;
}

/*
    TABS NAVIGATION
*/

.tabs ul {
    list-style:none;
    padding: 0;
}

.tabs a {
    color: #fff;
    float:left;
    line-height:27px;
    padding: 0 10px;
    margin: 0;
    border-bottom: 24px solid rgba(45, 70, 83, .6);    
    border-right: 24px solid transparent;
    height: 0;
    text-decoration: none;
}

.tabs a:hover, .tabs a:focus {
    color: #fff;
    border-bottom: 24px solid hsla(200, 30%, 25%,.8);
}

.tabs a.active {
    border-bottom: 24px solid hsl(200, 30%, 25%);
}

/*
    HEADER
*/

#logo {
    position:relative;
    z-index:10;
    background: url('logo.png') no-repeat 5px 0;
    height: 64px;
    margin: 50px auto -17px !important;
}

#logo h1 {
    color: transparent;
}

/*
    MAIN
*/

#l-main {
    padding: 20px;
    background: #e6e6e6;
    background: rgba(255,255,255, .7);
}

/*
    CONTENT
*/

.content, .widget {
    background: #fff;
    padding: 20px 10px 10px;
    border: 1px solid #bbb;
    border-top: 1px solid #2D4653;
}

.content > h2 {
    font-size: 1.6em;
    margin: 0 0 10px;
}

/*
    QUESTION
*/

.question {
    margin: 0 0 20px;
    padding: 10px;
    border-top: 1px solid #2D4653;
}

.question.single {
    border: 0;
}

.question h3, .question h2 {
    font-size: 1.8em;
    color: #598CA6;
    margin: .4em 0;
}

.question h3 a {
    text-decoration: none;
}



.question pre, .question code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    padding: 10px;
    background: #eaeaea;
    overflow-x: auto;
}

.question p code {
    padding: 2px;
}

.q-author {
    display: block;
}

/*
    Comments
*/

.comments {
    margin: 20px 0 0 5%;
    padding: 0;
    list-style:none;
    border-top: 1px solid hsl(200, 30%, 70%);
}

.comments li {
    padding: 2px 2%;
    border-bottom: 1px solid hsl(200, 30%, 70%);
}

.comments .respond {
    border: 0;

}

/*
    SIDEBAR WIDGET
*/

/* see .content for .widget style */
.widget {
    margin-bottom: 10px;
}

.widget h3 {
    margin: 0 0 10px;
    border-bottom: 1px solid #2D4653;
}

.widget ul {
    margin: 0 0 10px;
    padding: 0;
    line-height: 1.5;
    list-style: none;
}

/*
    STATS
*/

.stats > span, .stats > li{
    text-align: right;    
    min-width: 55px;
    padding-right: 10px;
}

.stats > span {
    display: inline-block;
    margin-right: 10px; 
    border-right: 1px solid;
}

.stats img {
    float:left;
    margin-top: 2px;
    vertical-align: baseline;
}

/* 
    TAGS
*/

.tags a {
    color: #fff;
    background: hsl(200, 30%, 25%);
    border: 1px solid hsl(200, 30%, 30%);
    line-height: 16px;
    padding: 3px 4px;
    text-decoration:none;
}

ul.tags  {
    line-height: 2.1;
}

.tags a:hover, .q-tags a:focus {
    color: hsl(200, 30%, 30%);   
    background: #fff;
}

.widget ul.tags {
    text-align: right;
}

.widget ul.tags a {
    float: left;
}

/*
    FOOTER
*/

#l-footer {
    text-align: right;
    margin-top: 10px;
    padding: 0 20px 9001px 0;
    color: #FFF;
}

/*
    FORMS
*/

.form {
    border-top: 1px solid #2D4653;
    padding: 0 10px;
}

.form h3 {
    margin-top: 2em;
}
.login .form {
    padding: 0 12.5%;
}

.form input 
{
    margin: 20px 0 0;
}

.form input:focus {
    outline: 0;
}

.form input[type="text"], 
.form input[type="password"] {
    display: block;
    margin: 20px 3% 0;
    width: 94%;
    padding: 5px 0;
    border: 0;
    border-bottom: 1px solid #243842;
}

.form textarea 
{
    font-family: 'Liberation Sans', helvetica, arial, sans-serif;
    margin: 20px 0 0;
    padding: 10px 3%;
    width: 100%;
    min-height: 200px;
    border: 1px solid #243842;
}
.form input[type="text"] + hr, 
.form input[type="password"] + hr
{
    border: 1px solid #243842;
    border-top: 0;
    height: 5px;
    margin-top: -5px;
}

.form ul {
    list-style: none;
    padding: 0;
}

.validation-summary-errors {
   color: Red; 
}   
 
.form input[type="submit"] {
    color: #fff;
    cursor: pointer;
    display: block;
    background: #2D4653;
    padding: 6px 8px;
    margin: 20px 0 0;
    border: 0;
}

/*
    USER OPTION WIDGET
*/
.useropts li 
{
    font-size: 1.3em;
    line-height: 30px;
    border-bottom: 1px solid #DEE8ED;
}

.useropts a {
    text-decoration: none;
}

/* 
    SUGGESTED ANSWERS
*/

.suggestedanswers li {
    margin: 0 0 5px;
    line-height: 25px;
    font-weight: bold;
}

.suggestedanswers .votes 
{
    color: #FFF;
    display: inline-block;
    text-align: center;
    height: 25px;
    width: 30px;
    background: #2D4653;
}

.suggestedanswers .votes.answered {
    background: #40BF40;
}/*
    SPECIFIC
*/



/*
    HELPER CLASSES
*/

.avater {
    width: 86px;
    height: 86px;
    margin: 0 0 10px;
}

.right {
    float:right !Important;
}

/*
    TAG OVERVIEW
*/

.tagoverview {
    border-top: 1px solid #243842;
}

.tag 
{
    display: inline-block;
    border-bottom: 1px solid #DEE8ED;
    width: 100%;
}
/* CLEARFIXING IT ALL */

#l-main:after,  
.tabs:after,
.l-nav.mobile:after {
    display: block;
    height: 0;
    content: "[.]";
    visibility: hidden;
    clear:both;
}

/* 
    MEDIA QUERIES
*/

@media screen and (min-width: 480px) {
    .tag {
        width: 49.9%;
        margin-right:-4px;
    }
}

@media screen and (min-width: 800px) {
    #l-content {
        float:left;
        width: 75%;
    }
    
    .l-nav.mobile {
        display:none;
    }

    .l-nav.desktop {
        display: block;
    }
    
    #l-sidebar {
        display: block;
        width: 23%;
        margin: 0 0 0 77%;
    }
    
    .user  #l-sidebar {
       margin: 0; 
    }
    
    .q-author {
        display: inline;
    }
}

@media screen and (min-width: 1000px) {
    #logo {
        background: url('logo.png') no-repeat;
    }

    .user-widget .stats > li {
        min-width: 90px;
    }
}