@{
    ViewBag.Title = "ActiverenGelukt";
    Layout = "~/Views/Shared/_LogInPartial.cshtml";
}

<h2>Activeren is gelukt</h2>
<p>
U kunt nu inloggen en gebruik maken van uw account. We wensen u veel plezier.
</p>