@{
    ViewBag.Title = "Registreren is gelukt - Question Jam";
    Layout = "~/Views/Layouts/_Login.cshtml";
}
<h2>Gelukt</h2>
<span>Het registreren is gelukt. We hebben een mailtje naar je gestuurd om je account te activeren.</span>