@{    
    ViewBag.Title = "Profiel: " + ViewBag.User.UserName + " - Question Jam";
    
    if (Request.Headers["X-PJAX"] == null) {
        Layout = "~/Views/Layouts/_Main.cshtml";
        ViewBag.TitleTag = null;
    } else {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    }   
}
@ViewBag.TitleTag

<h2>@ViewBag.User.UserName</h2>
<article class="question">
    <img src="@ViewBag.GravatarURL" />
</article>
