@{
    Layout = "~/Views/Layouts/_Login.cshtml";
    ViewBag.Title = "Log hier in - Question Jam";
}

<h2>Log hier in</h2>



@using (Html.BeginForm())
{
   
    <div class="form">
            @Html.ValidationSummary(true)

            @Html.TextBox("UserName", "", new { placeholder = "Gebruikersnaam" })
            @Html.Password("Password", "", new { placeholder = "Wachtwoord" })
            <input type="submit" value="Log in" id="submit">
                
            
    </div>
}