<p>U bent aangemeld voor de site QuestionJam met dit email adres.<br />
Om uw account in gebruik te nemen dient u op de onderstaande link te klikken of deze te kopieren naar de adresbalk van uw browser</p>

localhost/registreer/activeren/@ViewBag.WebLink