@{
    if (Request.Headers["X-PJAX"] == null) {
        Layout = "~/Views/Layouts/_Main.cshtml";
    } else {
        Layout = null;
    }
    
    ViewBag.Title = "Question Jam";
}

<h2>Nieuwste Vragen</h2>

@Html.Partial("_QuestionsPartial")