@{
    Layout = null;
}
<div class="widget">
    <ul class="useropts">
        <li>@Html.ActionLink("Profiel", "index", "user")
        <li>@Html.ActionLink("Account instellingen", "instellingen", "user")
        <li><a href="#">Statistieken</a>
        <li>@Html.ActionLink("Beheer", "beheer", "user")
    </ul>
</div>