@{
    Layout = null;
}

<div class="widget">
    <ul class="useropts">
        <li>@Html.ActionLink("Profiel", "Index", "user")
        <li>@Html.ActionLink("Account instellingen", "Instellingen", "user")
        <li><a href="#">Statistieken</a>
        <li>@Html.ActionLink("Beheer", "admin", "user")
    </ul>
</div>