@{
    Layout = null;
}

<div class="widget user-widget">
    <h3>Hallo @User.Identity.Name</h3>
                    
    <img class="avater">

    <ul class="stats right">
        <li><img src="Styles/check.png" alt="Stemmen">123
        <li><img src="Styles/aplus.png" alt="Antwoorden">18
        <li><img src="Styles/seen.png" alt="Bekeken">2
    </ul>
                    
    <ul>
        <li>2 nieuwe berichten
        <li>8 nieuwe reacties
        <li>1 nieuw antwoord
    </ul>

</div>