@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink(User.Identity.Name, "index", "user")</li>
    <li>@Html.ActionLink("Log uit", "logout", "login")</li>
}
else 
{
    <li>@Html.ActionLink("Log in", "index", "login")</li>
}