@{
    ViewBag.Title = "Question Jam";
    
    if (Request.Headers["X-PJAX"] == null) {
        Layout = "~/Views/Layouts/_Main.cshtml";
        ViewBag.TitleTag = null;
    } else {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    }   
}
@ViewBag.TitleTag

<h2>Badges</h2>
@foreach (var a in ViewBag.badgesList)
{    
    <p>
        @Html.ActionLink((string)a.badge.Name, "search", "badge", new { id = a.badge.Name }, new { }) x @a.count
    </p>
}

