@{
    ViewBag.Title = "KwijtVerstuurd";
    Layout = "~/Views/Layouts/_Login.cshtml";
}

<h2>Mail verstuurd</h2>
<p>
Er is een mail gestuurd naar uw wachtwoord met een link. Wanneer u op deze link klikt kunt u uw wachtwoord opnieuw instellen.

</p>
