@{
    ViewBag.Title = "Beheer overview - Question Jam";
    if (Request.Headers["X-PJAX"] == null) {
        Layout = "~/Views/Layouts/_Main.cshtml";
        ViewBag.TitleTag = null;
    } else {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
}

<h2>Beheer</h2>
@if (ViewBag.Allowed)
{
    <h3>Geflaggde vragen:</h3>
    if (ViewBag.badQuestionList != null)
    {
        <ul>
        @foreach (var vraagje in ViewBag.badQuestionList)
        {
            <li>@Html.ActionLink((string)vraagje.Title, "view", "vraag", new { id = vraagje.QuestionID }, new { target = "_blank" }):@vraagje.Content</li>
        }
        </ul>
    }
    else
    {
        <span>Er zijn geen geflaggde vragen</span>   
    }
    <hr />
    <h3>Geflaggde antwoorden:</h3>
    if (ViewBag.badAwnserList != null)
    {
        foreach (var awnser in ViewBag.badAwnserList)
        {
            // Yet to be made pages
            //Html.ActionLink((string)vraagje.Title, "view", "vraag", new { id = vraagje.QuestionID }, new { target = "_blank" });
        }
    }
    else 
    {
        <span>Er zijn geen geflaggde antwoorden.</span>   
    }
    <hr />
    <h3>Geflaggde comments:</h3>
    if (ViewBag.badCommentList != null)
    {
        foreach (var comment in ViewBag.badCommentList)
        {
            // Yet to be made pages
            // show something
            //Html.ActionLink((string)vraagje.Title, "view", "vraag", new { id = vraagje.QuestionID }, new { target = "_blank" });
        }
    }
    else
    {
        <span>Er zijn geen geflaggde comments.</span>   
    }
    <hr />
}
else
{
    <span>Je hebt nog niet de rechten behaald om hier iets te doen.</span>
}