@{
    ViewBag.Title = "Beheer overview - Question Jam";
    if (Request.Headers["X-PJAX"] == null)
    {
        Layout = "~/Views/Layouts/_User.cshtml";
        ViewBag.TitleTag = null;
    }
    else
    {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
}
@ViewBag.TitleTag

<h2>Beheer</h2>
@if (ViewBag.Allowed)
{
    <h3>Gerapporteerde vragen:</h3>
    <ul class="raport">
        @if (ViewBag.badQuestionList != null)
        {
            foreach (var vraagje in ViewBag.badQuestionList)
            {
                <li>
                    @Html.ActionLink((string)vraagje.Title, "view", "vraag", new { id = vraagje.QuestionID }, new { target = "_blank" })
                    [@Html.ActionLink("Verwijder", "delete", "vraag", new { id = vraagje.QuestionID }, "")]
                    [@Html.ActionLink("OK", "Unflag", "vraag", new { id = vraagje.QuestionID }, "")]
                </li>
            }
            
        }
        else
        {
            <li>Er zijn geen gerapporteerde vragen</li>
        }
    </ul>
    <hr />
    
    <h3>Gerapporteerde antwoorden:</h3>
    <ul class="raport">
        @if (ViewBag.badAwnserList != null)
        {
            foreach (var answer in ViewBag.badAwnserList)
            {
                <li>
                    @Html.ActionLink((string)answer.Content.Substring(0, 95) + "...", "view", "vraag", new { id = answer.QuestionId }, new { })
                    [@Html.ActionLink("Verwijder", "delete", "answer", new { id = answer.AnswerID }, new { })]
                    [@Html.ActionLink("OK", "Unflag", "answer", new { id = answer.AnswerID }, "")]
                </li>
            }
        }
        else
        {
            <li>Er zijn geen gerapporteerde antwoorden.</li>
        }
    </ul>    
    <hr />
    
    <h3>Gerapporteerde comments:</h3>
    <ul class="raport">
        @if (ViewBag.badCommentList != null)
        {   
            foreach (var comment in ViewBag.badCommentList)
            {
                <li>
                    @foreach (var qc in ViewBag.QCList)
                    {
                        if (comment.CommentID == qc.CommentID)
                        {
                            @Html.ActionLink((string)comment.Content, "view", "vraag", new { id = qc.QuestionID }, "")
                            break;
                        }
                    }
                    [@Html.ActionLink("Verwijder", "delete", "comment", new { id = comment.CommentID }, "")]
                    [@Html.ActionLink("OK", "Unflag", "comment", new { id = comment.CommentID }, "")]
                </li>            
            }
        }
        else
        {
            <li>Er zijn geen gerapporteerde comments.</li>
        }
    </ul>
    <hr />
}
else
{
    <p>Je hebt nog niet de rechten behaald om hier iets te doen.</p>
}