@{
    ViewBag.Title = ViewBag.Mail.Title + " - Question Jam";
    if (Request.Headers["X-PJAX"] == null)
    {
        Layout = "~/Views/Layouts/_User.cshtml";
        ViewBag.TitleTag = null;
    }
    else
    {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
}

<h2>@ViewBag.Mail.Title</h2>
<div class="question">
    <p>@ViewBag.Mail.Content</p>
</div>
<span>@Html.ActionLink("Reageer", "reply", "user", new { id = ViewBag.Mail.SenderId }, "") @Html.ActionLink("Verwijder bericht", "deletemail", "user", new { id = ViewBag.Mail.MessageID }, "")</span>
