@{
    ViewBag.Title = "Question Jam - Tags";
    if (Request.Headers["X-PJAX"] == null) {
        Layout = "~/Views/Layouts/_Main.cshtml";
        ViewBag.TitleTag = null;
    } else {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
}
@ViewBag.TitleTag

<h2>Tags</h2>
<div class="tagoverview">
@foreach (var tag in ViewBag.TagList)
{
    <div class="tag">
        <p class="tags">@Html.ActionLink((string)tag.Name, "Search", "Tags", new { id = tag.TagID }, new { target = "blank" }) x @tag.Count</p>
        <p>@tag.Description
    </div>
}
</div>