@{
    ViewBag.Title = "search";
    if (Request.Headers["X-PJAX"] == null) {
        Layout = "~/Views/Layouts/_Main.cshtml";
        ViewBag.TitleTag = null;
    } else {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
}
@ViewBag.TitleTag

<h2>search</h2>
<ul>
@foreach (var question in ViewBag.TagSearch)
{
    <li><h3>@question.Title</h3>
        @question.Content
    </li>
}
</ul>