@{
    ViewBag.Title = "Vraag verwijderen - Question Jam";
    if (Request.Headers["X-PJAX"] == null)
    {
        Layout = "~/Views/Layouts/_Login.cshtml";
        ViewBag.TitleTag = null;
    }
    else
    {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
}

<h2>Vraag verwijderen</h2>

<span>@ViewBag.Message</span>