@{
    ViewBag.Title = "Index";
    if (Request.Headers["X-PJAX"] == null) {
        Layout = "~/Views/Layouts/_Main.cshtml";
        ViewBag.TitleTag = null;
    } else {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
}
@ViewBag.TitleTag

<h2>@ViewBag.QuestionDetail.Title</h2>
<p>
@ViewBag.QuestionDetail.Content
</p>
