@{
    ViewBag.Title = "Index";
    if (Request.Headers["X-PJAX"] == null)
    {
        Layout = "~/Views/Layouts/_Main.cshtml";
    }
    else
    {
        Layout = null;
    }
}

<h2>@ViewBag.QuestionDetail.Title</h2>
<p>
@ViewBag.QuestionDetail.Content
</p>
